<% include ./partials/navbar %>


<header>
    <div class="banner">
<% if(chatroom) { %>
<form action="/chat/room" method="POST">
<ul class="list-group">
<% chatroom.forEach((entry, i, entries) => { %>
    <li class="row">
        <label>
            <%= entry.name %> By <%= entry.owner.username %>
        </label>
        <input id="<%= entry.name %>"  type="submit" name="roomid" value="<%= entry._id %>"/>
            
    </li>
<% }) %>
</ul>
</form>
<% } else{ %>  
   <h1>No Search Results Found</h1>
<% } %>


    </div>

</header>